<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/tables.css">
    <title>Sellers</title>
</head>
<body>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li><a href="/products"><span class="glyphicon glyphicon-shopping-cart"></span> Products</a></li>
            <li class="active"><a href="/sellers"><span class="glyphicon glyphicon-user"></span> Sellers</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/categories"><span class="glyphicon glyphicon-th-list"></span> Categories</a></li>
            <li><a href="/user/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
            <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Home</a></li>
          </ul>
        </div>
    </nav>

    <div class="container">                                          
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Available Products
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% for(var i=0; i<productsdata.length; i++){ %>
                <li><a href="/sellers/viewproduct?productid=<%= productsdata[i]['ProductID'] %>" ><%= productsdata[i]['ProductName'] %></a></li>
            <% } %>
          </ul>
        </div>
        <br>
        <a href="/sellers/add"><button type="button">Add new Seller</button></a>
        <br><br>
        <table>
            <tr>
                <th>sellerid</th>
                <th>seller_name</th>
                <th>ProductName</th>
                <th>Actions</th>
            </tr>
            <% for(var i=0; i<data.length; i++){ %>
            <tr>
                <td><%= data[i]['sellerid'] %></td>
                <td><%= data[i]['seller_name'] %></td>
                <td><%= data[i]['ProductName']%></td>
                <td>
                    <a href="/sellers/editseller?sellerid=<%=data[i]['sellerid'] %>"><button type="button">Edit</button></a>
                    <a class="delseller" href="/sellers/deleteseller?sellerid=<%=data[i]['sellerid'] %>"><button type="button" class="delete">Delete</button></a>
                    <a href="/sellers/viewseller?sellerid=<%=data[i]['sellerid'] %>"><button type="button">View</button></a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>

    
    <br>

    <script>
        $('.delete').click('button',function(){
            var decision = confirm("Are yo sure to Delete this Seller from the Database");
            if(decision){

            }
            else{
                $('.delseller').attr('href','/sellers ');
            }
        });
    </script>
</body>
</html>