<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>
    <h1><%= data[0]['ProductName'] %></h1>
    <h3>ProductID: <%= data[0]['ProductID'] %></h3>
    <h3>Quantity Available: <%= data[0]['Unit'] %></h3>
    <h3>Price of Each Quantity: <%= data[0]['Price'] %></h3>
    <h3>CategoryID: <%= data[0]['CategoryID'] %></h3>
    <h3>SupplierID: <%= data[0]['SupplierID'] %></h3>
</body>
</html>